#app{
    width: 100%;
    /* min-height: calc(100vh - 100px); */
    background-color: rgb(129, 198, 232);
    margin-top: 50px;
    padding: 20px;
}

/* body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
 */
.contenedor {
	max-width: 100%;
	margin: auto;
	min-height: calc(100vh -100px);
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 100%;
	z-index: 1;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
	padding: 2px;
	}
.carousel__elemento>img{
	max-height: 280px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: 1;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
	background-color: black;
}

@media screen and (max-width: 800px) {
	

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
	.carousel__elemento>img{
		max-height: 280px;
	}
}